.robotBox {
    background-color: rgba(212, 17, 17, 0.877);
    border-radius: 10px;
    padding-top: 70px;
    padding-left: 100px;
    padding-bottom: 0px;
    position: relative;
}

.attributes {
    padding: 25px;
    background-color: #ededed;
    border-radius: 10px;
}

.IdBox {
    position: absolute;
    left:11%;
    bottom: 5px;

}